In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from opti_recruit.value_predict import pre_process,prediction,value_show
from opti_recruit.data import get_data

In [3]:
ans=prediction()
ans

           predict_value
sofifa_id
158023      8.861791e+07
188545      1.246221e+08
20801       4.901391e+07
190871      1.528421e+08
192985      1.485897e+08
...                  ...
261962      3.292833e+05
262040      8.692265e+05
262760      4.461805e+05
262820      6.035308e+05
264540      6.508903e+05

[19239 rows x 1 columns]

In [9]:
dfs=get_data()
df22=dfs[22]
df22=df22[['age']]
df22.loc[df22['age'] == 34]

       age
0       34
23      34
26      34
31      34
60      34
...    ...
16512   34
17001   34
17118   34
17469   34
18430   34

[354 rows x 1 columns]